/* Admin Panel Styles */
.admin-login {
    background-color: #f9f9f9;
    padding: 50px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 10px;
}

.admin-login h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.admin-login form {
    max-width: 400px;
    margin: 0 auto;
}

.admin-login input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.admin-login button {
    background-color: #ff6600;
    color: white;
    padding: 12px 25px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.admin-login button:hover {
    background-color: #e55b00;
}

.admin-dashboard {
    padding: 50px;
    text-align: center;
}

.admin-dashboard h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.admin-dashboard .admin-actions form {
    max-width: 500px;
    margin: 0 auto;
}

.admin-dashboard .admin-actions input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.admin-dashboard .admin-actions button {
    background-color: #ff6600;
    color: white;
    padding: 12px 25px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.admin-dashboard .admin-actions button:hover {
    background-color: #e55b00;
}
